.button.is-primary
    background: $vue-green

.button__star
    background-color: $vue-hover
    border: 2px solid $vue-green
    display: flex
    color: white
    border-radius: 25px
    height: 30px
    width: 70%
    align-items: center
    justify-content: center
    transition: background-color .3s ease
    &:hover
        background-color: $vue-green
        border: 2px solid $vue-hover
        color: white
        transition: background-color .3s ease

.flex-div
    display: flex
    justify-content: center
    align-items: center

