.error
    color: #dd514c

span.error
    font-size: 13px

.pure-menu-item a
    cursor: pointer

.pure-form .has-error input,
.pure-form .has-error textarea,
.pure-form .has-error select,
.pure-form input.has-error,
.pure-form textarea.has-error,
.pure-form select.has-error
    border-color: #dd514c

.pure-form .has-error input:focus,
.pure-form .has-error textarea:focus,
.pure-form .has-error select:focus,
.pure-form input.has-error:focus,
.pure-form textarea.has-error:focus,
.pure-form select.has-error:focus
    border-color: #dd514c
