.header
    border-bottom: 1px solid #eee
    color: #333
    margin: 0
    padding: 2.5em 2em 0
    text-align: center

.header h1
    font-size: 3em
    font-weight: 300
    margin: 0.2em 0

.header h2
    color: #ccc
    font-weight: 300
    margin-top: 0
    padding: 0

.title
    color: $vue-hover
    font-weight: 400
    margin: 50px 0 25px 0

.title a:before
    color: $vue-green
    content: '#'
    margin-left: -25px
    opacity: 0.6
    position: absolute

.title a
    color: $vue-hover
    text-decoration: none

.title a:hover
    border-bottom: 1px solid $vue-hover

.header h1
    color: $vue-hover
