blockquote
  background: $vue-hover
  border-left: 5px solid $vue-green
  color: $background-color
  margin-bottom: 10px
  margin-top: 10px
  padding: 20px 20px 20px 40px
  text-align: justify
  a
      color: $vue-green
  b
      color: $vue-green
  code
      color: $vue-green

  &:before
      content: '\f0eb'
      font-family: FontAwesome
      font-size: 22px
      margin-left: -23px
      position: absolute
