@import url('https://fonts.googleapis.com/css?family=Noto+Sans')
@import 'variables'
@import 'layout'
@import 'utils'
@import 'animations'
@import 'components/*'

[v-cloak]
    display: none

a.link
    color: $vue-green

b.important
    color: $vue-green

.rules
    h3
        margin-top: 20px
    p
        margin: 5px 0
    ul
        list-style: circle
    li
        margin: 5px 0
    input
        margin-top: 5px

.is-rtl
    direction: rtl