body
    color: #777

.hero
    background-color: $background-color

.main-container
    overflow-x: hidden

.pure-img-responsive
    height: auto
    max-width: 100%

.content-container
    font-size: 1.1rem
    line-height: 1.6em
    margin-bottom: 50px
