// colors
$vue-green = #41b883
$vue-background = #1b2733
$vue-hover = #34495e
$background-color = whitesmoke
$code-background = #e4e4e4


// dimensions
$menu-width = 200px

// fonts
$family-sans-serif = 'Noto Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif
