# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

jobs:
  # Below is the definition of your job to build and test your app, you can rename and customize it as you want.
  test:
    docker:
      - image: cimg/node:22.10
    steps:
      # Checkout the code as the first step.
      - checkout
      - restore_cache:
          name: Restore pnpm Package Cache
          keys:
            - pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
      - run:
          name: Install pnpm package manager
          command: |
            corepack enable --install-directory ~/bin
            corepack prepare pnpm@latest-9 --activate
            pnpm config set store-dir .pnpm-store
      - run:
          name: Install dependencies
          command: pnpm install
      - save_cache:
          name: Save pnpm Package Cache
          key: pnpm-packages-{{ checksum "pnpm-lock.yaml" }}
          paths:
            - .pnpm-store
      - run:
          name: Build
          command: pnpm build
      - run:
          name: Type check
          command: pnpm typecheck
      - run:
          name: Generate Coverage
          command: pnpm cover
      - run:
          name: Upload Coverage
          command: bash <(curl -s https://codecov.io/bash)

workflows:
  ci:
    jobs:
      - test
