.content-subhead a:before {
    content: '#';
    color: $vue-green;
    opacity: 0.6;
    margin-left: -20px;
    position: absolute;
}

.content-subhead a {
    text-decoration: none;
    color: $vue-hover;
}

.header h1 {
    color: $vue-hover;
}
