@import 'colors';
@import 'variables';
@import 'layout';
@import 'fonts';
@import 'utils';
@import 'components/form';
@import 'components/button';
@import 'components/header';
@import 'components/note';

code.inline {
    color: $vue-green;
}

a.link {
    color: $vue-green;
}

b.important {
    color: $vue-green;
}

.rule {
    margin: 20px 0px;
}

.rule div {
    margin: 5px 0px;
}

.rtl {
    direction: rtl;
}
