@import 'colors';
@import 'variables';
@import 'layout';
@import 'form';
@import 'fonts';
@import 'utils';

code.inline {
    color: $vue-green;
}

a.link {
    color: $vue-green;
}

b.important {
    color: $vue-green
}
