@import 'colors';
@import 'variables';
@import 'layout';
@import 'form';
@import 'fonts';
@import 'utils';

code.inline {
    color: $vue-green;
}

a.link {
    color: $vue-green;
}

b.important {
    color: $vue-green;
}

.content-subhead {
    color: $vue-green;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-error {
    background: rgb(202, 60, 60);
}
