<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vee Validate</title>
        <link rel="stylesheet" href="assets/bundle.css">
    </head>
    <body>
        <div id="app">
            <app heading="Vee-Validate"
                 subtitle="Validation Rules"
            >
                <h2 id="syntax" class="content-subhead"><a href="#syntax">Syntax</a></h2>
                <p>
                    The validation rules have a very simple syntax similar to <a href="https://laravel.com/docs/5.2/validation" class="link">Laravel validation syntax</a>.
                    A validation expression is a string of a series of validators separated by a pipe <code class="inline">|</code>:
                    <code-block class="language-javascript">
                        var single = 'required'; // single rule.
                        var multiple = 'required|numeric' // multiple rules.
                    </code-block>
                    Some rules can have parameters, which are passed in a comma separated list without spaces.
                    <code-block class="language-javascript">
                        var someRule = 'in:1,2,3,4';
                    </code-block>
                    <div class="note">
                        <b>Note:</b> The validators (rules) and their parameters are statically saved, in order to update some validation rule, you have to attach it again with the new parameters and it will be overwritten.
                    </div>
                </p>
                <h2 id="available-rules" class="content-subhead"><a href="#available-rules">Available Rules</a></h2>
                <p>
                    <code class="inline">vee-validate</code> Comes out of the box with many validation rules, which are:
                </p>
                <div class="pure-g">
                    <div v-for="group in rules" :class="'pure-u-1-' + rules.length">
                        <ul>
                            <li v-for="rule in group"><a class="link" :href="'rules.html#rule-' + rule">{{ rule }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="rules">
                    <div class="note">
                        <b>Note: </b>Date validators always require the <code>date_format</code> rule to be always present and must preceed them in the rules order. The date validators are not enabled by default, they require <a href="http://momentjs.com">momentjs</a> in order to work.
                        If your setup contains momentjs globally, it will be installed automatically for all validator instances. otherwise you may want to pass the moment reference to <code>installDateTimeValidators(moment)</code> which is available both statically and on instances.

                        Also note that the date validators always use the <a href="http://momentjs.com/guides/#/parsing/strict-mode/" class="link">'strict' moment parsing mode</a>.
                    </div>
                    <br>
                    <div class="note">
                        <b>Note: </b>In the rule signature required parameters are enclosed within <code>{}</code> like this: <code>{param}</code>.
                        <br>
                        Optional parameters have a <code>?</code> at the end: <code>{optional?}</code>.
                        <br>
                        Lists are enclosed withn brackets <code>[]</code>. ex: <code>[list]</code>.
                    </div>
                    <div class="rule" id="rule-after">
                        <b class="important">after:{target}</b>
                        <div class="description">
                            The field under validation must have a valid date and is after the date value in the target field.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">target:</code>The input name to be validated against. must have the same format as the date_format rule.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="date_format:DD/MM/YYYY|after:after_field_target" name="after_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('after_field') }" type="text" placeholder="DD/MM/YYYY">
                                <span class="error" v-show="errors.has('after_field')">{{ errors.first('after_field') }}</span>
                                <input name="after_field_target" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('after_field') }" type="text" placeholder="DD/MM/YYYY">
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-alpha">
                        <b class="important">alpha</b>
                        <div class="description">
                            The field under validation may only contain alphabetic characters.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="alpha" name="alpha_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('alpha_field') }" type="text" placeholder="Enter some characters">
                                <span class="error" v-show="errors.has('alpha_field')">{{ errors.first('alpha_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-alpha_dash">
                        <b class="important">alpha_dash</b>
                        <div class="description">
                            The field under validation may contain alphabetic characters, numbers, dashes or underscores.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="alpha_dash" name="alpha_dash_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('alpha_dash_field') }" type="text" placeholder="Enter a string with dashes">
                                <span class="error" v-show="errors.has('alpha_dash_field')">{{ errors.first('alpha_dash_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-alpha_num">
                        <b class="important">alpha_num</b>
                        <div class="description">
                            The field under validation may contain alphabetic characters or numbers.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="alpha_num" name="alpha_num_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('alpha_num_field') }" type="text" placeholder="Enter a string with numbers">
                                <span class="error" v-show="errors.has('alpha_num_field')">{{ errors.first('alpha_num_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-before">
                        <b class="important">before:{target}</b>
                        <div class="description">
                            The field under validation must have a valid date and is before the date value in the target field.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="date_format:DD/MM/YYYY|before:before_field_target" name="before_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('before_field') }" type="text" placeholder="DD/MM/YYYY">
                                <span class="error" v-show="errors.has('before_field')">{{ errors.first('before_field') }}</span>
                                <input name="before_field_target" :class="{'pure-input-1': true, 'has-error': errors.has('alpha_field') }" type="text" placeholder="DD/MM/YYYY">
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-between">
                        <b class="important">between:{min},{max}</b>
                        <div class="description">
                            The field under validation must have a numeric value bounded by a minimum value and a maximum value.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">min:</code> The minimum value.</li>
                                <li><code class="inline">max:</code> The maximum value.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="between:1,11" name="between_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('between_field') }" type="text" placeholder="Enter a number between 1 and 11">
                                <span class="error" v-show="errors.has('between_field')">{{ errors.first('between_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-confirmed">
                        <b class="important">confirmed:{target}</b>
                        <div class="description">
                            The field under validation must have the exact same value as the confirmation field.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">target:</code> The name of the confirmation field.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="confirmed:pw_confirm" name="confirm_field" data-as="password" :class="{'pure-input-1': true, 'has-error': errors.has('confirm_field') }" type="password" placeholder="Enter The Password">
                                <span class="error" v-show="errors.has('confirm_field')">{{ errors.first('confirm_field') }}</span>
                                <input name="pw_confirm" :class="{'pure-input-1': true, 'has-error': errors.has('confirm_field') }" type="password" placeholder="Confirm the password">
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-date_between">
                        <b class="important">date_between:{min,max}</b>
                        <div class="description">
                            The field under validation must be a valid date between the two dates specified.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">min:</code>The minimum allowed value for date. must be in the same format as the date_format rule.</li>
                                <li><code class="inline">max:</code>The maximum allowed value for date. must be in the same format as the date_format rule.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="date_format:DD/MM/YYYY|between:10/09/2016,20/09/2016" name="date_between_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('date_between_field') }" type="text" placeholder="DD/MM/YYYY betweem 10/09/2016 and 20/09/2016">
                                <span class="error" v-show="errors.has('date_between_field')">{{ errors.first('date_between_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-date_format">
                        <b class="important">date_format:{format}</b>
                        <div class="description">
                            The field under validation must be a valid date in the specified format. This rule must be present when using any date rules.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">format:</code> The date format. See <a href="http://momentjs.com/docs/#/parsing/string-format/">momentjs parsing.</a></li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="date_format:DD/MM/YYYY" name="date_format_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('date_format_field') }" type="text" placeholder="DD/MM/YYYY">
                                <span class="error" v-show="errors.has('date_format_field')">{{ errors.first('date_format_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-decimal">
                        <b class="important">decimal:{decimals?}</b>
                        <div class="description">
                            The field under validation must be numeric and may contain the specified amount of decmial points.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">decmials:</code> The maximum allowed number of decimal point numbers. Not passing the decmials will accept numeric data which may or may not contain decimal point numbers.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="decimal:3" name="decimal_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('decimal_field') }" type="text" placeholder="Enter a numeric value with decmials">
                                <span class="error" v-show="errors.has('decimal_field')">{{ errors.first('decimal_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-digits">
                        <b class="important">digits:{length}</b>
                        <div class="description">
                            The field under validation must be numeric and have the specified number of digits.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">length:</code> The number of digits.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="digits:3" name="digits_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('digits_field') }" type="text" placeholder="Enter a three digit number">
                                <span class="error" v-show="errors.has('digits_field')">{{ errors.first('digits_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-dimensions">
                        <b class="important">dimensions:{width},{height}</b>
                        <div class="description">
                            The file added to the field under validation must be an image (jpg,svg,jpeg,png,bmp,gif) have the exact specified dimensions.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">width:</code> The width of the image.</li>
                                <li><code class="inline">height:</code> The height of the image.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="dimensions:30,30" name="dimensions_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('dimensions_field') }" type="file">
                                <span class="error" v-show="errors.has('dimensions_field')">{{ errors.first('dimensions_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-email">
                        <b class="important">email</b>
                        <div class="description">
                            The field under validation must be a valid email.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="email" name="email_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('email_field') }" type="text" placeholder="Enter a valid email">
                                <span class="error" v-show="errors.has('email_field')">{{ errors.first('email_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-ext">
                        <b class="important">ext:[extensions]</b>
                        <div class="description">
                            The file added the field under validation must have one of the extensions specified.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code> Comma separated list of extensions. ex: <code class="inline">ext:jpg,png,bmp,svg</code>.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="ext:jpeg,jpg" name="ext_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('ext_field') }" type="file">
                                <span class="error" v-show="errors.has('ext_field')">{{ errors.first('ext_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-image">
                        <b class="important">image</b>
                        <div class="description">
                            The file added the field under validation must have an image mime type (image/*).
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="image" name="image_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('image_field') }" type="file">
                                <span class="error" v-show="errors.has('image_field')">{{ errors.first('image_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-in">
                        <b class="important">in:[list]</b>
                        <div class="description">
                            The field under validation must have a value that is in the specified list.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code> Comma separated list of values. ex <code class="inline">in:1,2,3,4</code>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="in:mystic,valor" name="in_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('in_field') }" type="text" placeholder="Your Pokemon Go Team">
                                <span class="error" v-show="errors.has('in_field')">{{ errors.first('in_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-ip">
                        <b class="important">ip</b>
                        <div class="description">
                            The field under validation must have a string that is a valid ipv4 value.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="ip" name="ip_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('ip_field') }" type="text" placeholder="Ipv4">
                                <span class="error" v-show="errors.has('ip_field')">{{ errors.first('ip_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-max">
                        <b class="important">max:{length}</b>
                        <div class="description">
                            The field under validation length may not exceed the specified length.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">length:</code> A numeric value representing the maximum number of characters.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="max:11" name="max_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('max_field') }" type="text" placeholder="Max Value: 11">
                                <span class="error" v-show="errors.has('max_field')">{{ errors.first('max_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-mimes">
                        <b class="important">mimes:[list]</b>
                        <div class="description">
                            The file type added to the field under validation should have one of the specified mime types.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code> List of comma separated mime types. <code class="inline">mimes:image/jpeg|image/png</code>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="mimes:image/*" name="mimes_field" data-as="image" :class="{'pure-input-1': true, 'has-error': errors.has('mimes_field') }" type="file">
                                <span class="error" v-show="errors.has('mimes_field')">{{ errors.first('mimes_field') }}</span>
                            </form>
                        </div>
                        <div class="note">
                            <b>Note:</b> You can use '*' to specify a wild card, something like <code>mimes:image/*</code> will accept all image types.
                        </div>
                    </div>
                    <div class="rule" id="rule-min">
                        <b class="important">min:{length}</b>
                        <div class="description">
                            The field under validation length should not be less than the specified length.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">length:</code> A numeric value representing the minimum number of characters.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="min:3" name="min_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('min_field') }" type="text" placeholder="Min Length: 3">
                                <span class="error" v-show="errors.has('min_field')">{{ errors.first('min_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-not_in">
                        <b class="important">not_in:[list]</b>
                        <div class="description">
                            The field under validation length should not have any value within the specified values.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code> Comma separated list of invalid values. ex: <code class="inline">not_in:1,2,3,4</code>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="not_in:valor,instinct" name="not_in_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('not_in_field') }" type="text" placeholder="Your Pokemon Go Team">
                                <span class="error" v-show="errors.has('not_in_field')">{{ errors.first('not_in_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-numeric">
                        <b class="important">numeric</b>
                        <div class="description">
                            The field under validation must only consist of numbers.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="numeric" name="numeric_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('numeric_field') }" type="text" placeholder="Numeric Value">
                                <span class="error" v-show="errors.has('numeric_field')">{{ errors.first('numeric_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-regex">
                        <b class="important">regex:{pattern}</b>
                        <div class="description">
                            The field under validation must match the specified regular expression.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">pattern:</code> A regular expression</li>
                                <li><code class="inline">flags:</code> list of regular expression flags (optional)</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="regex:^([0-9]+)$" name="regex_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('regex_field') }" type="text" placeholder="Enter Numeric Value">
                                <span class="error" v-show="errors.has('regex_field')">{{ errors.first('regex_field') }}</span>
                            </form>
                        </div>
                        <div class="note">
                            <b>Note:</b> Currently you should not use the pipe | within your regular expression as it will cause a conflict with how parsing validators work. A workaround is in progress.
                        </div>
                    </div>
                    <div class="rule" id="rule-required">
                        <b class="important">required</b>
                        <div class="description">
                            The field under validation must have more than 0 characters.
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="required" name="required_field" data-as="field" :class="{'pure-input-1': true, 'has-error': errors.has('required_field') }" type="text" placeholder="Anything">
                                <span class="error" v-show="errors.has('required_field')">{{ errors.first('required_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-size">
                        <b class="important">size:{kb}</b>
                        <div class="description">
                            The file size added to the field under validation must not exceed the specified size in kilobytes.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">size:</code> The maximum file size in kilobytes.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="size:10" name="size_field" data-as="file" :class="{'pure-input-1': true, 'has-error': errors.has('size_field') }" type="file">
                                <span class="error" v-show="errors.has('size_field')">{{ errors.first('size_field') }}</span>
                            </form>
                        </div>
                    </div>
                    <div class="rule" id="rule-url">
                        <b class="important">url:{domain?}</b>
                        <div class="description">
                            The field under validation must be a valid url. A domain may be optionally passed. supports subdomains.
                        </div>
                        <div class="args">
                            <code class="inline">args:</code>
                            <ul>
                                <li><code class="inline">domain:</code> Adds another check if the url belongs to a specific domain. tlds should improve the accuracy.</li>
                            </ul>
                        </div>
                        <div>
                            <form class="pure-form pure-form-stacked">
                                <input v-validate data-rules="url:google.com" name="url_field" data-as="file" :class="{'pure-input-1': true, 'has-error': errors.has('url_field') }" type="text" placeholder="Enter a google url">
                                <span class="error" v-show="errors.has('url_field')">{{ errors.first('url_field') }}</span>
                            </form>
                        </div>
                    </div>
                </div>
                <h2 id="custom-rules" class="content-subhead"><a href="#custom-rules">Custom Rules</a></h2>
                <p>
                    You can easily add custom rules to the validators, but your custom validation rules must adhere to a contract, or certain structure:
                    <br><br>
                    <b class="important">Function Form:</b>
                    This is the most basic custom validator form, it consists of only a function that returns either a Boolean or a promise. However it will have a default error message.
                    <code-block class="language-javascript">
                        const validator = (value, args) =&gt; {
                            // Return a Boolean or a Promise.
                        }
                    </code-block>
                    <b class="important">Object Form:</b>
                    <code-block class="language-javascript">
                        const validator = {
                            getMessage(field, args) { // will be added to default English messages.
                                // Returns a message.
                            },
                            validate(value, args) {
                                // Returns a Boolean or a Promise.
                            }
                        };
                    </code-block>
                    <b class="important">Localized Object Form:</b>
                    <code-block class="language-javascript">
                        const validator = {
                            messages: {
                                en: (field, args) =&gt; {
                                    // Returns a message.
                                },
                                cn: (field, args) =&gt; {
                                    // Returns a Chinese message.
                                }
                            },
                            validate(value, args) {
                                // Returns a Boolean or a Promise.
                            }
                        };
                    </code-block>
                    This validator form must have a <code class="inline">validate</code> method, and either a <code class="inline">getMessage</code> method, or a <code class="inline">messages</code> object.
                    The only difference that the latter will allow you to add localized messages, the former only adds it to the English dictionary.

                    <div class="note">
                        <b>Note:</b> Notice how the <code>messages</code> methods gets passed the <code>field</code> which is the name of the field under validation as a first parameter.
                        And how the <code>validate</code> method gets passed the value as a first parameter.
                        And both receive the <code>args</code> which are the parameters (arguments) that were configured with the validation rule.
                        for example look at the <a href="https://github.com/logaretm/vee-validate/blob/master/src/rules/min.js">actual implementation of the min rule</a>.
                    </div>
                    <br>
                    <div class="note">
                        <b>Note:</b> As you can see a validation rule must implement one of the three forms discussed above.
                         Not doing so will throw a <code>ValidatorException</code> with a suitable error message detailing what were you missing.
                    </div>
                </p>
                <p>
                    After creating your validator, You can add it to the list of rules using <code class="inline">extend(name, validator)</code> method in the validator instance.
                    <code-block class="language-javascript">
                        import { Validator } from 'vee-validate';
                        // These are 'ES6' arrow functions.
                        Validator.extend('truthy', {
                            getMessage: field =&gt; 'The ' + field + ' value is not truthy.',
                            validate: value =&gt; !! value
                        });

                        let instance = new Validator({
                            trueField: 'truthy'
                        });

                        // Also there is an instance 'extend' method for convience.
                        instance.extend('falsy', (value) =&gt; ! value);
                        instance.attach('falseField', 'falsy');
                    </code-block>
                    <div class="note">
                        <b>Note:</b> Using any of the <code>extend</code> either statically or on an instance will extend all validators with the new validation rule.
                         extending a new rule that have the same name as an existing rule will throw a <code>ValidatorException</code> with an error message.
                    </div>
                </p>
                <h2 id="custom-messages" class="content-subhead"><a href="#custom-messages">Custom Messages and Localization</a></h2>
                <p>
                    Of course you might need to overwrite the error messages, or add new ones. The Validator class and its instances provide an <code class="inline">updateDictionary</code> method.
                    which will merge the messages with the internal dictionary, overwriting any duplicates.
                    <div class="note">
                        <b>Note:</b> Any merges will have an effect on all validator instances as the messages dictionary is shared.
                    </div>
                    <code-block class="language-javascript">
                        import { Validator } from 'vee-validate';

                        const dictionary = {
                            en: { alpha: () =&gt; 'Some English Message' },
                            ar: { alpha: () =&gt; 'Some Arabic Message' }
                        };

                        Validator.updateDictionary(dictionary);

                        const validator = new Validator({ first_name: 'alpha' });
                        validator.setLocale('ar'); // now this validator will generate messages in arabic.
                    </code-block>
                    <p>
                        Usually you would stucture your language files for your app rather than adding hardcoded strings like the example above, check the <a class="link" href="localization.html">localization guide</a> for a better approach.
                    </p>
                    <div class="note">
                        <b>Note:</b> You must provide the messages in an object path like: <code>dictionary.locale.message</code>.
                    </div>
                </p>
            </app>
        </div>
        <script src="assets/bundle.js"></script>
    </body>
</html>
