---
import LogQueryStr from '@/components/LogQueryStr.vue';
---

<html lang="en">
  <head>
    <title>Submit target</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/v4/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>

  <body>
    <LogQueryStr client:load />
  </body>
</html>
