@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Noto+Sans:400,700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  @apply font-body;
  scroll-padding-top: 130px;
}

:root {
  --accent: #09a884;

  .dark {
    --accent: #06d77b;
  }
}

.codepen,
.cp_embed_wrapper {
  @apply my-8;
}
