.App {
  @apply h-full mx-auto;
  max-width: 1500px;
  grid-template-areas:
    'content'
    'footer';
  display: grid;
  grid-gap: 20px;
}

.main {
  @apply py-12 px-6 min-w-0;
  grid-area: content;

  @screen lg {
    @apply px-0;
  }
}

#ad {
  @apply hidden;

  @screen md {
    @apply block !fixed bottom-4 right-4;
  }
}
